
.navbar-bg {
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
}

.navbar-title {
  font-size: 50px;
  font-family:cursive;
  color: rgb(0, 0, 0); /* Set font color to black */
}

.navbar-links .nav-link {
  font-size: 1rem;
  font-family:cursive;
  color: rgb(24, 34, 32); /* Default color for nav links */
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 30px;
}

.navbar-links .nav-link:hover {
  color: rgb(8, 7, 7); /* Change this to a color that contrasts well with your orange */
  background-color: rgba(255, 165, 0, 0.2); /* Light orange background on hover */
}

.navbar-user-actions .btn-login,
.navbar-user-actions .btn-logout {
  font-family: 'Georgia', serif;
  background: none;
  border: none;
  color: black; /* Default color for buttons */
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-user-actions .btn-login:hover,
.navbar-user-actions .btn-logout:hover {
  color: black; /* Change this to a color that contrasts well with your orange */
  background-color: rgba(255, 165, 0, 0.2); /* Light orange background on hover */
}

.navbar-user-actions .username-text {
  font-size: 1rem;
  font-family: 'Georgia', serif;
  color: black; /* Color for username text */
}

.container-fluid {
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.mr-2 {
  margin-right: 0.5rem;
}
.username-text{
  font-family: cursive;
}

.profile{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}